@tailwind base;
@tailwind components;
@tailwind utilities;

.hero-home {
  @apply w-full relative bg-planetone aspect-w-16 aspect-h-10 md:aspect-h-6 bg-cover mb-8;
}

.btn-nav-dropdown {
  @apply flex justify-center items-center p-2 rounded-lg transition-all w-max
  group-hover:text-white group-hover:bg-blue-800 group-hover:shadow-lg;
}

.nav-dropdown-menu {
  @apply absolute origin-top-right mt-2 min-w-max rounded-lg shadow-lg bg-white ring-1 ring-gray-100
    z-10 max-h-64 overflow-scroll right-0
    focus:outline-none
    md:left-0;
}

.nav-dropdown-item {
  @apply text-gray-700 block px-4 py-2 text-sm rounded-lg 
  hover:bg-blue-800 hover:text-white hover:cursor-pointer;
}

.btn-nav {
  @apply flex justify-center items-center p-2 pl-3 pr-3 rounded-lg transition-all w-max
  hover:text-white hover:bg-blue-800 hover:shadow-lg;
}

.hero {
  @apply w-full relative aspect-w-16 aspect-h-4 md:aspect-h-2 bg-blue-800;
}

.container-faq {
  @apply w-full px-8;
}

.row-ques {
  @apply w-full bg-gray-200 flex p-4 border-l-[6px] border-red-500 items-center;
}

.row-ans {
  @apply w-full flex p-4 border-l-[6px] border-gray-400 items-center;
}

.sym-ques {
  @apply text-5xl text-red-600;
}

.sym-ans {
  @apply text-5xl text-gray-500;
}

.h3-ques {
  @apply text-xl px-4 text-gray-700 font-semibold;
}

.p-ans {
  @apply text-xl px-4 text-gray-500;
}

.hr-faq {
  @apply my-8;
}

.block-career {
  @apply w-full p-4 text-justify;
}

.block-career span {
  @apply font-bold;
}

.block-news {
  @apply w-full p-4 my-auto bg-white rounded-xl h-full;
}

.block-news h3 {
  @apply font-bold text-3xl text-center mb-4;
}

.block-news img,
iframe {
  @apply mx-auto;
}

.block-news p {
  @apply text-justify bg-gray-50 p-4 rounded-lg mt-4;
}

.hero-module {
  @apply w-full relative aspect-w-16 aspect-h-10 md:aspect-h-4 lg:aspect-h-3 xl:aspect-h-2 bg-blue-800;
}
