html {
  scroll-behavior: smooth;
}

.dropdown-item:active {
  background-color: var(--bs-green) !important;
}

section {
  overflow-x: hidden;
}

.hero {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}

.heroContent {
  align-items: center;
}

.heroContent p {
  padding-bottom: 1rem;
}

.heroTitle {
  margin-bottom: 0;
}

.hero .btn {
  padding: 0.75rem 1.5rem 0.75rem 1.5rem;
  border-radius: 0.5rem;
  margin-top: 0.5rem;
  font-weight: 500;
}

.btnGreen {
  background-color: var(--bs-green) !important;
}

.btnGreen:hover {
  background-color: white !important;
  color: var(--bs-green) !important;
  border-color: var(--bs-green) !important;
}

@media (min-width: 1200px) {
  .hero .img-right {
    max-width: 42rem;
  }

  .heroContent h1 {
    line-height: 1;
    font-size: 3rem !important;
  }
}

@media (min-width: 768px) {
  .hero .img-right {
    max-width: 32rem;
  }

  .hero .heroContent {
    flex: 0 0 60%;
  }
}

@media (min-width: 576px) {
  .hero .img-right {
    max-width: 28rem;
  }

  .heroContent h1 {
    line-height: 2.5rem;
    font-size: 2.25rem;
    font-weight: 800;
    padding-bottom: 1rem;
  }

  .heroSubtitle {
    margin-bottom: 0;
    font-size: 1.25rem;
    font-weight: 400;
  }
}
